{% extends "base.html" %}
{% block content %}
{% set report_title = "Relatorios do Cliente" %}
{% set report_heading = "Leitura executiva da sua operacao" %}
{% set report_description = "Veja desempenho, tendencia e concentracao por produto apenas dentro do escopo autorizado da sua empresa." %}
{% set report_company_label = current_user.empresa_id %}
{% set report_root_path = "/client/reports" %}
{% set export_base_path = "/client/reports" %}
{% include "partials/report_dashboard_content.html" %}
{% endblock %}
